<!DOCTYPE html>
<html>
  <head>
    <title>Список товаров</title>
    
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Bad+Script|Roboto">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="main.css">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </head>

  <body>
    <nav>
      <div class="container header">
      <ul>
        <li> <a href="categories.html">Каталог</a> </li>
        <li> <a href="main_page.html">Коллекции</a> </li>
        <li > <a href="main_page.html" class="navbar-center">Элит Ювелир</a> </li>
        <li> <a href="main_page.html">Магазины</a> </li>
        <li> <a href="main_page.html">8 800 555-35-35</a> </li>
      </ul>
      </div>
    </nav>


  <div class="container">
    <div class="breadcrumb">
      <a href="main_page.html">Главная</a>
      <!-- <%= icon('long-arrow-right')%> -->
      <a href="categories.html">Категории</a>
      <!-- <%= icon('long-arrow-right')%> -->
      <a href="#">Название категории</a>
    </div>

    <div class="list-of-items">

      <div class="side-filter dib">
        <div class="filter-element">
          <div class="title">
            Цена
          </div>
          <div class="range">
            до 5000
          </div>
          <div class="range">
            от 5000 до 15000
          </div>
          <div class="range">
            от 15000 до 50000
          </div>
          <div class="range">
            от 50000
          </div>
        </div>

        <div class="filter-element">
          <div class="title">
            Наличие
          </div>
          <div class="range">
            В наличии
          </div>
          <div class="range">
            Под заказ
          </div>
        </div>

        <div class="filter-element">
          <div class="title">
            Материал
          </div>
          <div class="range">
            Золото
          </div>
          <div class="range">
            Серебро
          </div>
        </div>

        <div class="filter-element">
          <div class="title">
            Пол
          </div>
          <div class="range">
            Женские
          </div>
          <div class="range">
            Мужские
          </div>
        </div>

        <div class="filter-element">
          <div class="title">
            Наличие
          </div>
          <div class="range">
            В наличии
          </div>
          <div class="range">
            Под заказ
          </div>
        </div>
      </div>


      <div class="catalog dib">
        <a href="product.html">
          <div class="item-catalog">
                <img src="images/1.jpg" class="img-catalog">
                <div class="item-title">
                  Название товара
                </div>
                <div class="price">
                  36 000 руб.
                </div>
                <div class="article">
                       42942392423
                </div>
          </div>
        </a>
        <a href="product.html">
          <div class="item-catalog">
                <img src="images/1.jpg" class="img-catalog">
                <div class="item-title">
                  Название товара
                </div>
                <div class="price">
                  36 000 руб.
                </div>
                <div class="article">
                       42942392423
                </div>
          </div>
        </a>
        <a href="product.html">
          <div class="item-catalog">
                <img src="images/1.jpg" class="img-catalog">
                <div class="item-title">
                  Название товара
                </div>
                <div class="price">
                  36 000 руб.
                </div>
                <div class="article">
                       42942392423
                </div>
          </div>
        </a>
        <a href="product.html">
          <div class="item-catalog">
                <img src="images/1.jpg" class="img-catalog">
                <div class="item-title">
                  Название товара
                </div>
                <div class="price">
                  36 000 руб.
                </div>
                <div class="article">
                       42942392423
                </div>
          </div>
        </a>
      
    </div>
  </div>
</div>


  </body>
</html>
